<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beauty_Player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>936D28661E3F557F00A7D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936D287A1E3F557F00A7D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936D28851E3F557F00A7D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
